.wp-block-button a, .wmd .wmd_hero #QuoteForm input[type=submit] {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    font-family: HelveticaNeue, Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans,
      Montserrat, sans-serif;
    font-size: 1.125rem;
    line-height: 1.4375rem;
    padding: 10px 55px;
    border-radius: 5px;
    background-color: #ce0e2d !important;
    margin: auto;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  